@model Project.Models.ModelViews.Predmet.EditView;

<h2>Добовление предмет</h2>

<form asp-action="create" asp-controller="Predmet">

    <p>

         <select name="SpecId" asp-items="Model.SelectList"></select>
    </p>
     <p>
        <label>Семестер: </label>
        <input type="number" name="Semesetr" />
    </p>
    <p>
        <label>Имя: </label>
        <input type="text" name="PredmetName" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>